:root {
  --dark-blue: #00008b;
  --light-blue: #add8e6;
  --blue: #0000ff;
  --dark-orange: #cc5500;
  --yellow: #ffff00;
  --orange: #ffa550;

  --h1: 7.594rem;
  --h2: 5.063rem;
}
body.cool {
  --primary: var(--dark-blue);
  --secondary: var(--light-blue);
  --tertiary: var(--blue);
}
body.warm {
  --primary: var(--dark-orange);
  --secondary: var(--yellow);
  --tertiary: var(--orange);
}
.warm {
  --primary: var(--orange);
  --secondary: var(--yellow);
  --tertiary: var(--orange);
}
.cool {
  --primary: var(--dark-blue);
  --secondary: var(--light-blue);
  --tertiary: var(--blue);
}
body {
  background-color: var(--primary);
}
#header {
  background-color: var(--primary);
  border-radius: 10px;
  text-align: center;
  font-size: 4vh;
  color: var(--secondary);
}
#btn1 {
  background-color: var(--secondary);
  height: 60px;
  width: 200px;
  font-size: 1.5rem;
  margin-left: 500px;
}
#btn2 {
  background-color: var(--secondary);
  height: 60px;
  width: 200px;
  font-size: 1.5rem;
  margin-left: 500px;
}
#btn3 {
  background-color: var(--secondary);
  height: 60px;
  width: 200px;
  font-size: 1.5rem;
  margin: 13px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
body {
  background-color: var(--tertiary);
}
#text {
  font-size: 4rem;
  margin: 25px;
}
.quote {
  background-color: var(--secondary);
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px;
  border-radius: 2rem;
  padding: 20px;
  height: 15vh;
  width: 200vh;
  align-items: center;
  flex-direction: row;
}
#bird{
  width: 100vh;
  height: 10vh;
  border-radius: 2rem;
  margin: 15px;
  background-color: var(--secondary);
  align-items: center;
  text-align: center;
  margin-left: 451px;
}
